name = "tmkdo"
type = "javascript"
account_id = ""
workers_dev = true
route = ""
zone_id = ""
compatibility_date = "2024-12-10"

[env.production]
name = "tmkdo-prod"

[build]
command = "npm run build"
cwd = "./"
watch_paths = ["src/**/*.ts", "src/**/*.tsx"]

[build.upload]
format = "service-worker"
main = "./.next/standalone/server.js"

[build.upload.rules]
type = "ESModule"
globs = ["**/*.js", "**/*.mjs"]
fallthrough = true

[[build.upload.rules]]
type = "CompiledContentType"
globs = ["**/*.wasm"]
fallthrough = true

[[build.upload.rules]]
type = "Text"
globs = ["**/*.txt", "**/*.html"]
fallthrough = true

[upload]
format = "modules"
main = "./.next/standalone/server.js"
