.cursorContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .cursorContainer {
    display: none;
  }
}
